<h1 class="modale__title" mat-dialog-title>Rules of the game</h1>
<div class="modale__content" mat-dialog-content>The goal of the game is to line up a series of 4 pawns of the same color on a grid.</div>
<div class="modale__content" mat-dialog-content>Alternately, the two players place a pawn in the column of their choice, the pawn then
    slides to the lowest possible
    position in the said column.</div>
<div class="modale__content" mat-dialog-content>The winner is the player who first achieves a consecutive alignment (horizontal, vertical or
    diagonal) of at least four
    pawns of his color.</div>
<div mat-dialog-actions>
    <button class="modal__btn" mat-button mat-dialog-close>Close</button>
</div>