<!-- Main content of the game -->

<!-- Home-made modale for the display of the winner -->
<div *ngIf="isWinner && winnerModal" (click)="winnerModal = false" class="container__winner">
        <h2 *ngIf="isWinner && currentPlayer === 2" class="winner">Congratz <span class="winner--yellow">Player
                        1</span> you won 🎉<i class="winner__close fas fa-times-circle"></i></h2>
        <h2 *ngIf="isWinner && currentPlayer === 1" class="winner">Congratz <span class="winner--red">Player
                        2</span> you won 🎉<i class="winner__close fas fa-times-circle"></i></h2>
        <h2 *ngIf="isTie" class="winner">Game is a tie 🤝<i class="winner__close fas fa-times-circle"></i></h2>
</div>

<!-- Main container of the game -->
<div class="board__container">

        <!-- New game and current player container -->
        <div class="btn__container">
                <button (click)="restartBoard()" class="btn__restart" [ngClass]="{'btn__restart--dark': settings.isDarkMode}"><i class="fas fa-play"></i> New game</button>
                <h2 *ngIf="isWinner === false && currentPlayer === 1" class="currentPlayer" [ngClass]="{'currentPlayer--dark': settings.isDarkMode}">Current player : <span
                                class="winner--yellow">Player 1</span></h2>
                <h2 *ngIf="isWinner === false && currentPlayer === 2" class="currentPlayer" [ngClass]="{'currentPlayer--dark': settings.isDarkMode}">Current player : <span
                                class="winner--red">Player
                                2</span></h2>
        </div>

        <!-- Inputs to place a pawn on the board -->
        <div class="input__container">
                <button *ngIf="board[0][0] < 1 && isWinner == false; else elseBtn" (click)="play(0)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][1] < 1 && isWinner == false; else elseBtn" (click)="play(1)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][2] < 1 && isWinner == false; else elseBtn" (click)="play(2)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][3] < 1 && isWinner == false; else elseBtn" (click)="play(3)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][4] < 1 && isWinner == false; else elseBtn" (click)="play(4)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][5] < 1 && isWinner == false; else elseBtn" (click)="play(5)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>
                <button *ngIf="board[0][6] < 1 && isWinner == false; else elseBtn" (click)="play(6)"
                        class="input__btn" [ngClass]="{'input__btn--dark': settings.isDarkMode}"><i class="fas fa-chevron-down"></i></button>

                <ng-template #elseBtn> <button class="input__btn--disabled" disabled><i
                                        class="fas fa-times"></i></button>
                </ng-template>
        </div>

        <!-- Content of the board one a game is started -->
        <div class="playBoard">
                <div class="playBoard__layout"></div>
                <div *ngFor="let row of board" class="playBoard__row">
                        <div *ngFor="let col of row" [ngClass]="{'yellow': col === 1, 'red': col === 2}"></div>
                </div>
        </div>

</div>